
@{ 
    ViewBag.Title = "Welcome Page";
}

    <div class="text-center welcome-page-wrapper ">
        <h1>Welcome to Covid 19 Survey!</h1>
        <p>Your response will be saved for the data collection process<p>
         <a class="btn btn-primary theme-btn" asp-action="Questionnaire">Click here to go to the questionnaire</a>
    </div>