<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/Styles.css" />
</head>
<body>
    <nav class="navbar  navbar-default theme_nav">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <a class="navbar-brand" href="#">Covid19Survey</a>
            </div>

            <div >
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/Questionnaire">Questionnaire</a></li>
                    <li><a href="/Admin/Index">Admin</a></li>
                    <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>

        @RenderBody()
    </div>
</body>
<footer>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</footer>
</html>
