@model IEnumerable<UserResponse>;
@{
    ViewBag.Title = "Statistics";
}

    <div class="panel">
        <div class="panel-body container">
            <h4>
                List of all responses.
            </h4>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Wear mask</th>
                        <th>use Public Transport</th>
                        <th>Currently Working</th>
                        <th>
                            Actions
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserResponse item in Model)
                    {
                        <tr>
                            <td>@item?.Name</td>
                            <td>@item?.Email</td>
                            <td>@item?.Phone</td>
                            <td>@item?.WearMask</td>
                            <td>@item?.PublicTransportation</td>
                            <td>@item?.Work</td>
                            <td>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="name" value="@item.Name" />
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="Questionnaire">Click here to submit another response!</a>
        </div>
    </div>
